Olá,<strong style="color: orange"> {{ employee }}</strong>
<p>A tarefa, <strong>{{task}}</strong>, foi cancelada!</p>
<p>
  Por: <strong style="color: orange">{{provider}}</strong>,<br />
  Data: <strong style="color: orange">{{date}}</strong>
  <br />
  <small>
    Você pode entrar em contato com <span style="color: orange">{{provider}}</span> pelo email: <span style="color: orange"></span>{{email}}</span>.
  </small>
</p>