<strong>Olá, <span style="color: orange;">{{provider}}</span></strong>
<p>Uma tarefa foi concluída, confira os dados abaixo:</p>
Titulo: <span style="color: orange;">{{title}}</span><br />
Prazo de execução: <span style="color: orange;">{{date}}</span><br />
Data de execução: <span style="color:orange;">{{todayDate}}</span><br/>
Executado por: <span style="color: orange;">{{user}}</span><br /><br />
<small>Acesse sua conta e confira.</small>