<strong>Olá, <span style="color: orange;">{{user}}</span></strong>
<p>Você tem uma nova tarefa, confira os dados abaixo:</p>
Titulo: <span style="color: orange;">{{title}}</span><br />
Prazo de execução: <span style="color: orange;">{{date}}</span><br />
Criado por: <span style="color: orange;">{{provider}}</span><br/>
Data de criação: <span style="color: orange;">{{todayDate}}</span><br /><br />
<small>Acesse sua conta e confira.</small>